@import '001func.styl'

.val-market-point
	background #7D7D7D
	padding 20px
	position relative
	margin-bottom 30px
	 
.val-market-point img
	width 100%
	display block 
	margin 0 auto 
	position relative 
	z-index 2

.val-descr-market
	font-size 13px

.val-market-table
	width 100%
	border-width 1px 1px 0px 1px
	border-style solid 
	border-color grey

.val-descr-list-market
	padding-left 20px
	margin 20px 0

.val-descr-list-market li 
	padding 5px 0
	font-size 13px

.val-market-title, .val-market-block
	display flex
	align-items stretch
	transition .2s
	background rgba(255,255,255, 1)
	cursor pointer
	
.val-market-block:hover
	background rgba(21, 148, 139, 0.2)
	
.val-market-first-block
	width 50%
	padding 10px
	border-right 1px solid grey
	border-bottom 1px solid grey
	font-size 12px
	line-height 16px
	display flex
	align-items center

.val-market-last-block
	width 50%
	padding 10px
	text-align center
	border-bottom 1px solid grey
	font-size 12px
	line-height 16px
	display flex
	justify-content center
	align-items center
	
#-pushdown
	width 512px
	position absolute
	height 160px
	top 146px
	margin 0
	left 92px
	background rgba(21, 148, 139, 1)
	display none
	z-index 2
	
#-premium-250
	height 124px
	position absolute
	background #15948b
	top 171px
	right 85px
	width 149px
	background rgba(21, 148, 139, 1)
	display none
	z-index 2
	
#-premium-600
	height 218px
	position absolute
	background #15948b
	top 171px
	right 85px
	width 149px
	background rgba(21, 148, 139, 1)
	display none
	z-index 2
	
#-premium-low-250
	height 150px
	position absolute
	top 954px
	right 85px
	width 149px
	background rgba(21, 148, 139, 1)
	display none
	z-index 2
	
#-cat-fish
	width 648px
	height 183px
	position fixed
	bottom 0px
	background rgba(21, 148, 139, 1)
	display none
	z-index 2
	
#-full-screen
	width 648px
	height 98%
	position absolute
	top 19px
	left 20px
	background rgba(21, 148, 139, 1)
	display none
	z-index 2
	
#-content
	width 342px
	height 323px
	position absolute
	top 435px
	left 92px
	background rgba(21, 148, 139, 1)
	display none
	z-index 2
	
#-video
	width 512px
	position absolute
	height 248px
	top 146px
	margin 0
	left 92px
	background rgba(21, 148, 139, 1)
	display none
	z-index 2
	
#-full
	z-index 1
	width 100%
	height 100%
	background rgba(21, 148, 139, 1)
	top 0
	left 0
	position absolute
	display none