body {
    min-width: 1200px;
}
.clear {
    clear: both;
}
#sidebar {
    background: none repeat scroll 0 0 #E8E8E8;
    border-right: 1px solid #1D1C1C;
}
#sidebar {
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed !important;
    top: -1px;
    width: 210px;
    z-index: 3000;
}

#main-content {
    margin-left: 210px;
    padding-top: 50px;
}
.navbar-inner {
    background: linear-gradient(to bottom, #383838 0%, #1D1C1C 100%) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 4px;
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.top-nav {
    margin-left: 210px;
}
.branding {
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.navbar .nav li a,.navbar .nav li a:hover {
    color: #C0C0C0;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
}
.side-nav li a {
    border-bottom: 1px solid #1D1C1C;
}
.side-nav li a {
    background: linear-gradient(to bottom, #555957 0%, #3E4240 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    color: #EEEEEE;
}
.side-nav li a {
    background: linear-gradient(to bottom, #555957 0%, #3E4240 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    color: #EEEEEE;
    border-bottom: 1px solid #1D1C1C;
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 40px;
    padding-left: 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.side-nav {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.side-nav li a:hover {
    background: #f8f8f8;
    color:#333;
}
.side-nav li ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.side-nav li ul li a {
    background: none repeat scroll 0 0 #E8E8E8;
    color: #666666;
    font-size: 12px;
    font-weight: normal;
    padding-left: 30px;
    text-transform: none !important;
}
.breadcrumbs {
    background: linear-gradient(to bottom, #F1F1F1 0%, #DBDBDB 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #C2C2C2;
    border-radius: 3px;
    box-shadow: 0 1px 0 #F9F9F9 inset;
    font-size: 11px;
    list-style: none outside none;
    margin: 0 0 18px;
    padding: 4px 14px;
}
.row-fluid {
background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px;
    margin-bottom: 20px;
}
#content .head {
    background: linear-gradient(to bottom, #F1F1F1 0%, #DBDBDB 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #C2C2C2;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px 0 #F9F9F9 inset, 0 0 3px #DDDDDD;
    height: 40px;
    padding: 0 0 0 10px;
    position: relative;
}
.row {
    margin: 0;
}
.button_save {
    float: right;
    margin: 7px 9px 0 0;
}
.form h5 {
    width: 60%;
    float: left;
}

.form {
    padding: 0px;
}

.left_row {
    float: left;
    width: 46%;
    padding: 7px;
}

.right_row {
    float: right;
    width: 50%;
    padding: 7px;
}
.row label {
    color: #0085C4;
}
.right_row input {
    width: 100%;
}

.button-column .view {
    display: none;
}

.preview img {
    width: 100px;
}
.errorMessage {
    color: #FFFFFF;
}
.row label {
    border: none;
}

.for-image img {
    height: 60px;
    width: 60px;
}
td {
    text-align: center;
}
#product-grid input {
    padding: 3px 2px;
}
.logo a {
    background-image: url("../images/logo.png");
    display: block;
    height: 30px;
    width: 168px;
}
.grid-view input {
    padding: 0;
}
.head h5 {
    float: left;
    width: 75%;
}
.info {
    border-radius: 8px;
    margin: 5px auto;
    text-align: center;
    width: 98%;
}
#sidebar ul li a i {
    margin: -2px 7px 0 0;
}
.accordion-toggle i {
    margin-right: 10px;
}
.successMessage {
    background-color: #ADFF2F;
    height: 65px;
    line-height: 65px;
}
.errorMessage {
    background-color: #EC979C;
}
.right_row .row {
    padding-right: 15px;
}
#sizes-row label, #sizes-row input {
    float: left;
    margin: 7px;
}
#sizes-row input {
    width: 50px;
}
.images img {
    width: 200px;
    height: 150px;
    float: left;
}
.order-products thead {
    background-color: #555957;
    color: #ffffff;
}
.text-areas {
    padding: 10px;
}
.text-areas textarea {
    display: block;
    margin: 16px auto;
    width: 99%;
}
.for-image {
    left: 0;
    position: absolute;
    top: 0;
}
.form-width-image {
    position: relative;
}
.left_row input{
    width: 80% !important;
    float: left;
}

.cropHeaderWrapper {

}

.input-group-addon{
    margin-bottom: 10px;
    float: left;
    width: 5%;
    margin-left: 1%;
}

.helps{
height: 30px;
float: left;
margin-left: 10px;
padding-top: 5px;
position: relative;
}

.helps:before{
   content: "";
position: absolute;
width: 92px;
height: 30px;
border: 2px solid red;
top: -1px;
right: -3px;
}

.helps p span{
    color: #999;
}

input#Video_video{
    float: left;
}

#video-form input[type='text']{
   min-width: 450px; 
}

#streem-form input[type='text']{
    min-width: 450px; 
}

input#Streem_url{
    float: left;
}

#video-form .row, #streem-form .row{
    padding-left: 10px;
}

#video-form .row:nth-child(2){
    padding-top: 10px;
}

#streem-form .left-row .row:first-child{
   padding-top: 10px; 
}

#streem-form .helps:before{
content: "";
position: absolute;
width: 311px;
height: 30px;
border: 2px solid red;
top: -1px;
right: 13px;
}

#cropContainerHeaderButton {
    margin-left: 70px;
}
#full-image {
    max-width: 50%;
}
#thumb-image {
    max-width: 30%;
}
.left_row #images img {
    max-width: 50%;
}

.reklVideo{
    width: 24%;
    margin-right: 1%;
    margin-bottom: 1%;
    float: left;
    position: relative;
    padding: 10px;
    border: 1px solid #eee;
}

.reklVideo img{
    position: relative;
    width: 100%;
}

.reklPhoto{
    width: 24%;
    margin-right: 1%;
    margin-bottom: 1%;
    float: left;
    position: relative;
    padding: 10px;
    border: 1px solid #eee;
}

.reklPhoto img{
    position: relative;
    width: 100%;
}

.rekloneNews{
    width: 24%;
    margin-right: 1%;
    margin-bottom: 1%;
    float: left;
    position: relative;
    padding: 10px;
    border: 1px solid #eee;
}

.rekloneNews img{
    position: relative;
    width: 100%;
}

#cat label{
    display: inline-block !important;
    margin-bottom: 11px;
    margin-right: 10px;
    vertical-align: middle;
}
.outerSelect{
    display: table;
    width: 100%;
}

#reklcat{
    width: 24%;
    margin-right: 1%;
    margin-bottom: 1%;
    float: left;
    position: relative;
    padding: 10px;
    border: 1px solid #eee;
    display: none;
}

#reklcat img{
    position: relative;
    width: 100%;
}

.reklhome{
    width: 24%;
    margin-bottom: 1%;
    float: left;
    margin-right: 0.6%;
    min-height: 330px;
    position: relative;
    border: 1px solid powderblue;
}


.tab-pane > div > a:first-child{
    text-transform: uppercase;
    color: #000;
    text-align: center;padding: 10px 0;
    font-weight: 700;
    display: block;
    margin: 0 auto;
      border: 1px solid powderblue; border-bottom: 4px solid powderblue;
      background: powderblue;
}

.tab-pane > div p b{
    font-weight: normal !important;
}

.tab-pane{
    overflow: hidden;
}


.reklhome img{
    position: relative;
    width: 100%;
}
#home .reklhome:nth-child(4n+4){
    margin-right: 0;
}

.reklhome>div{
    padding: 10px;
}

.bg-info{
background: rgba(38, 160, 155, 0.22);
padding: 2px;
font-weight: normal;
}