@import '001func.styl'

.val-footer
	width 100%
	background #fff
	
.val-inner-footer
	width staticWidth
	margin 0 auto 
	display table

.val-footer-list
	display flex 
	justify-content space-between
	width 100%
	list-style none
	padding 40px 0

.val-footer-for-logo-first-container
	width 30%
	
.val-footer-second-container
	width 20%
	margin-top -10px
	
.val-footer-third-container
	width 35%
	
.val-text-footer
	font-size 12px
	line-height 14px

.val-logo-footer
	margin-bottom 15px
	margin-top -10px
	
.val-text-footer a
	color generalGreenColor

.val-title-content-text
	padding-bottom 10px
	display block

.val-content-text
	padding-bottom 15px
	display block
	line-height 18px
	
.val-phones span 
	color lightGreyText 
	display block
	line-height 18px

.val-phones span a 
	color #000
	
.val-link-footer
	padding 10px 5px
	border-bottom 1px solid #ededed
	
.val-link-footer a 
	color #000
	text-transform uppercase
	&:hover
		color generalGreenColor

.val-footer-third-container
	position relative
		
.val-footer-third-container p 
	font-size 12px 
	line-height 18px
	padding 15px 0 0

.val-footer-third-container h5 
	text-transform uppercase 
	font-size 13px
	
.val-soc-in-footer .val-outer-social-button
	position relative
	left 0
	top 15px
	margin 0
	
.val-development
	width staticWidth
	margin 0 auto
	display table
	border-top 1px solid #e0e0e0
	padding 20px 
	text-align center
	
.val-text-development, .val-development a
	display inline-block
	vertical-align middle
	padding 0 5px
	
	
