@import '001func.styl'

.val-single-news-conainer-with-read-else
	width 100%
	
.val-container-one-news
	margin-bottom 25px
	
.val-container-one-news .genImages 
	max-width 45%
	float left
	margin 0 15px 0 0

.val-views-one-news
	position relative

.val-container-one-news .val-description-block-gen-news
	padding 0 0 15px 0
	
.val-container-one-news .val-description-block-gen-news .val-news-view
	top 2px
	
.val-text-from-content-manager-wright
	font-size 14px
	line-height 20px

.val-text-from-content-manager-wright a 
	color generalGreenColor
	font-size 14px

.val-text-from-content-manager-wright iframe 
	width 100%
	height 350px